<h1>Listing firms</h1>
<div style='width: 600px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
    <script>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
    </script>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Address</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firms.each do |firm| %>
      <tr>
        <td><%= firm.name %></td>
        <td><%= firm.category %></td>
        <td><%= firm.description %></td>
        <td><%= firm.address %></td>
        <td><%= firm.user_id %></td>
        <td><%= link_to 'Show', firm %></td>
        <td><%= link_to 'Edit', edit_firm_path(firm) %></td>
        <td><%= link_to 'Destroy', firm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firm', new_firm_path %>
